#container {
    background-image: url("../bilder/scene_hinder.jpg");
}

#canvas{
    top:40px;
}
#soppel {
    position: relative;
    height: 100px;
    width: 100px;
    margin-left: 300px;
    margin-top: 230px;
    z-index: 0;
    opacity: 1;
}

#soppel img {
    position: absolute;
    width: 70px;
    left: 0;
    bottom: 0;
}
