#container {
    background-image: url("../bilder/scene_manus.jpg");
}

 #canvas{
    top:70px;
 }

#manus {
    position: relative;
    height: 220px;
    width: 180px;
    margin-left: 260px;
    margin-top: 50px;
    background-color: red;
    text-align: right;
}

#manus p{
    padding:10px;
    color:green;
}

#manus h1{
    padding:10px;
    color:blue;
}
