#container {
    background-image: url("../bilder/scene_liste.jpg");
}

 #canvas{
    top:70px;
 }

#wrapper {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 460px;
    top:20px;
    font-size: 1.2em;
}
