#container {
    background-image: url("../bilder/scene_tiger.jpg");
}

 #canvas{
    top: 55px;
 }

#wrapper {
    position: relative;
    height: 300px;
    width: 300px;
    margin-left: 300px;
    margin-top: 20px;
}

#wrapper img {
    position: absolute;
    width: 300px;
    left: 0;
    bottom: 0;
}
